<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-6' }, builder: TailwindFormBuilder) do |f| %>
      <div>
        <%= f.label :email %>
        <div class="mt-1">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", data: { test_id: 'email-field' } %>
        </div>
      </div>
    
      <div>
        <%= f.label :password %>
        <div class="mt-1">
          <%= f.password_field :password, autocomplete: "current-password", data: { test_id: 'password-field' } %>
        </div>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <%= f.check_box :remember_me %>
            <span class="ml-2"><%= f.label :remember_me %></span>
          </div>
        </div>
      <% end %>
    
      <div>
        <%= f.submit "Log in", data: { test_id: 'submit-btn' } %>
      </div>
    <% end %>
    
    <div class="text-sm mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
