<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>LibraProtect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-full">
    <% flash.each do |type, message| %>
      <div data-test-id='flash'>
        <button class='close' data-dismiss='alert'>&times;</button>
        <%= message.html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
