<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>LibraProtect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-full">
    <%= yield %>
    <div aria-live="assertive" class="z-50 fixed inset-0 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start" data-controller="transition">
      <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
        <% flash.each do |type, message| %>
          <%= render TemporaryNotificationComponent.new(type: type, message: message) %>
        <% end %>
      </div>
    </div>
  </body>
</html>
